# Ignore video files
*.mp4

# Ignore output CSV
crowd_detection_results.csv

# Ignore YOLO model weights
*.pt

# Ignore Python cache and environment files
__pycache__/
*.pyc
.env/
venv/

# Ignore other unnecessary files
*.log
.DS_Store